#currentTask {
  display:none;
  margin-top:25px;
}

#warning {
  color: red;
  display: inline-block;
}
.task{
  font-size: 1.9em;
}

body {
  background-image: url(../img/paper.jpg);
  position: fixed;
}
.bg-styling{
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px 2px;
}

.glyphicon-remove {
  color: red;
  padding-left: 5px;
}
.glyphicon-expand{
  color: blue;
  padding-right: 5px;
}

.well {
  background-color: rgba(0, 0, 0, .3);
  font-size: 1.4em;
}

.ghost {
  display: none;
}

img {
  position: absolute;
}

#witchButton {
  display: none;
}
